body{
    background: linear-gradient(135deg,#000000,#1C1C1C);
    color:white;
}

header{
    background: linear-gradient(135deg,#2C2C2C,#000000);
}

.card{
    background:#2C2C2C;
}

h2{
    color:#FFD700;
}

.card h3{
    color:#FFB800;
}